In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('geography_industry.csv', encoding='latin-1')
df

         post_date state        industry  count_id_indexed
0       2020-03-01   NaN             NaN            1.0000
1       2020-03-01   NaN   Communication            1.0000
2       2020-03-01   NaN    Construction            1.0000
3       2020-03-01   NaN          Energy            1.0000
4       2020-03-01   NaN   Entertainment            1.0000
...            ...   ...             ...               ...
546203  2021-09-20    WY     Real Estate            2.8571
546204  2021-09-20    WY          Retail            1.3936
546205  2021-09-20    WY        Services            1.4001
546206  2021-09-20    WY  Transportation            0.4458
546207  2021-09-20    WY       Wholesale            1.1872

[546208 rows x 4 columns]

In [3]:
df.dropna(subset = ["post_date"], inplace=True)
df.dropna(subset = ["state"], inplace=True)
df.dropna(subset = ["industry"], inplace=True)
df.dropna(subset = ["count_id_indexed"], inplace=True)

In [4]:
df.rename(columns={"post_date":"PostDate"}, inplace=True)
df.rename(columns={"state":"State"}, inplace=True)
df.rename(columns={"industry":"Industry"}, inplace=True)
df.rename(columns={"count_id_indexed":"CountIDIndexed"}, inplace=True)

In [5]:
df

          PostDate State            Industry  CountIDIndexed
17      2020-03-01    AK       Communication          1.0000
18      2020-03-01    AK        Construction          1.0000
19      2020-03-01    AK              Energy          1.0000
20      2020-03-01    AK       Entertainment          0.0000
21      2020-03-01    AK  Financial Services          1.0000
...            ...   ...                 ...             ...
546203  2021-09-20    WY         Real Estate          2.8571
546204  2021-09-20    WY              Retail          1.3936
546205  2021-09-20    WY            Services          1.4001
546206  2021-09-20    WY      Transportation          0.4458
546207  2021-09-20    WY           Wholesale          1.1872

[503565 rows x 4 columns]

In [6]:
df.to_csv('updated_geography_industry.csv')